---

---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>About Page</title>
    </head>
    <body>
        <div>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/blog">Blog</a>
        </div>
        <h1>My Astro About Page</h1>
        <h1>About Me</h1>
        <h2>Hello there, this is my first astro site!</h2>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore beatae voluptas
            quasi facere tempora totam blanditiis temporibus natus necessitatibus. Optio
            exercitationem asperiores sapiente amet velit, accusamus similique nostrum itaque vero?
        </p>
    </body>
</html>
