---

---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Blog Page</title>
    </head>
    <body>
        <div>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/blog">Blog</a>
        </div>
        <h1>My Astro Learning Blog</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, nobis.</p>
    </body>
</html>
